VITE_SUPABASE_URL=https://ywwdgwiqoeqixmbvibeq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3d2Rnd2lxb2VxaXhtYnZpYmVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwODIxNjIsImV4cCI6MjEwNDY1ODE2Mn0.tVc8mNMHF158qM0x5yzjusdYJSZVfnZCfJLfz9TXD-w
